<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.here.android.example.kotlin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AutoSuggest" />
        <activity android:name=".YourRequest" />
        <activity android:name=".GetRide" />
        <activity android:name=".ChooseVechile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity> <!-- <meta-data -->
        <!-- android:name="com.here.android.maps.appid" -->
        <!-- android:value="rR4UifIb87NwO2AEptxu" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.here.android.maps.apptoken" -->
        <!-- android:value="TAlz79fvbrR_eS2gYP_GYA" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.here.android.maps.license.key" -->
        <!-- android:value="m2queg7lYdA15Bb-eqP8C4j0MTajIIPiH306oAKjUeOtQuhr6wpumTmeF2FxvnmUx5H2cdEXtP9Jb8xcge7kuw" /> -->
        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="TAlz79fvbrR_eS2gYP_GYA" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="m2queg7lYdA15Bb-eqP8C4j0MTajIIPiH306oAKjUeOtQuhr6wpumTmeF2FxvnmUx5H2cdEXtP9Jb8xcge7kuw" />
    </application>

</manifest>